@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

*{
    margin: 0;
    padding: 0;
}

/* Shared Styles */
.display-flex{
    display: flex;
}
.text-gray{
    color: #424242;
}

.text-light-gray{
    color: #727272;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #FF900E;
    color: white;
    padding: 20px 24px;
    font-size: 1.25rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
}
/* Header Styles */

/* navbar related Styles */

.nav-item{
    list-style: none;
    margin: 0 30px;
}

.nav-link{
    text-decoration: none;
    font-weight: 500;
}

.navbar{
    align-items: center;
    justify-content: space-between;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

.brand{
    font-weight: 700px;
    font-size: 3rem;
}

/* banner related Styles */

.banner-content{
    max-width: 840px;
    text-align: center;
    margin: 50px auto;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.banner-title{
    font-weight: 700;
    font-size: 4rem;
}

.banner-image{
    width: 100%;
}

/* Main section */

main{
    max-width: 1440px;
    margin: 0 auto;
}

.teams{
    align-items: center;
    gap: 80px;
}

.team-img-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 30px;
}

.our-features{
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
}

/* Some Facts related styles */

.some-facts{
    /* margin: 0 auto; */
}
.facts-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 0 auto;
    justify-items: center;
    gap: 30px;
}
.fact-card{
    border: 1px solid #ff900e;
    width: 240px;
    height: 240px;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.fact-number{
    font-size: 3rem;
    font-weight: 600;
    margin: 10px 0;
}

.fact-name{
    font-size: 1.5rem;
    font-weight: 600;
    margin: 5px 0;
}

.sponsor-info{
    max-width: 540px;
    margin: 50px auto;
    text-align: center;
}

.sponsor-companies{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    justify-items: center;
    gap: 30px;
}

.feature-card{
    padding: 30px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
    margin: 10px;
    border-radius: 10px;
}

#feature-section-title{
    border-left: 5px solid #ff900e;
    padding-left: 25px;
}

.features{
    display: flex;
    align-items: center;
    gap: 100px;
    justify-content: center;
}
/* responsive Media query */

@media screen and (max-width: 576px){
        .navbar,.nav-links{
            flex-direction: column;
        }

        .team-img-container,
        .facts-container,
        .sponsor-companies{
            grid-template-columns: 1fr;
        }

        .teams{
            flex-direction: column;
        }

        .our-features{
            align-items: center;
        }
}